.blog {

    background: #F5F8FC;

    &__wrap {
        padding:120px 0;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1199px){
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

    &__card {
        max-width: 380px;
        @media (max-width: 1199px){
            margin-bottom: 80px;
            &:last-child{
                margin-bottom: 0;
            }
            @media (max-width: 575px){
                max-width: 100%;
                text-align: center;
            }
        }
    }

    &__card-pic-wrap{
        margin-bottom: 20px;
    }

    &__card-pic{
        @media (max-width: 575px){
            width: 100%;
            height: auto;
        }
    }

    &__card-title {
        font-family: Prosto One;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #2F3250;

        margin-bottom: 15px;
    }

    &__card-text {
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: #404254;

        margin-bottom: 25px;
    }

    &__card-btn {
        padding: 13px 20px;
    }
}

