.footer {
    
    padding-top: 64px;
    background: #013A4C;

    &__nav-wrap {
        display: flex;
        border-bottom: 1px solid #346170;
    }

    &__logo {
        margin-bottom: 67px;
    }

    &__contacts-address {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
    }

    &__contacts-number {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;

        margin-bottom: 117px;
    }

    &__nav-list-wrap{
        margin:0 0 0 auto;
        display: flex;
    }

    &__nav-list {
        margin-right: 101px;
        &:last-child{
            margin-right: 0;
        }
        @media (max-width: 991px) {
            margin-right: 30px;
        }
    }

    &__nav-item {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.4px;

        margin-bottom: 13px;
    }

    &__nav-list-title {
        color: #FFFFFF;
        letter-spacing: 0.4px;
    }

    &__nav-link {
        color: #99B0B7;
        &:hover{
            border-bottom: 1px solid #99B0B7;
        }
    }

    &__middle {
        padding: 48px 0 78px 0;
        border-bottom: 1px solid #346170;
        @media (max-width: 767px){
            text-align: center;
            margin:0 auto;
        }
    }

    &__middle-title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.4px;
        color: #FFFFFF;

        margin-bottom: 11px;
    }

    &__middle-subttle {
        display: inline-block;
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;

        margin:0 49px 0 0;
        max-width: 367px;
        @media (max-width: 767px){
            margin:0 0 40px 0;
        }
    }

    &__middle-btn {
        padding: 11px 17px;
        vertical-align: top;
    }

    &__bottom {
        padding: 17px 0 73px 0;
        @media (max-width: 575px){
            text-align: center;
        }
    }

    &__bottom-link {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #99B0B7;

        margin-right: 32px;
        &:last-child{
            margin-right: 16px;
        }
        &:hover{
            color: #d9dddf;
        }
        @media (max-width: 575px){
            display: block;
            margin:0 0 10px 0;
        }
    }

    &__bottom-icon{
    font-size: 20px;
    color: black;
    vertical-align: bottom;
        &:hover{
            transform: scale(1.6);
            transition: 0.3s;
        }
    }
}