.intro {
    background:url(../../img/jpg/Rectanglewomen.jpg)no-repeat top center;
    background-size: cover;

    @media (max-width: 575px){
        text-align: center;
        background-image: linear-gradient( 123.5deg,  rgba(244,219,251,1) 29.3%, rgba(255,214,214,1) 67.1% );
    }

    &__wrap{
        padding: 210px 0 312px 0;
        @media (max-width: 991px){
            padding-top: 160px;
        }
        @media (max-width: 767px) {
            padding-top: 100px;
        }
        @media (max-width: 575px){
            padding-bottom: 100px;
        }
    }

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 76px;
        line-height: 78px;
        letter-spacing: 2px;
        color: #013A4C;

        margin-bottom: 31px;
        max-width: 510px;
       
        @media (max-width: 575px){
            font-size: 50px;
            line-height: 50px;
        }
    }
  
    &__subtitle {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: #013A4C;

        margin-bottom: 25px;
        max-width: 491px;
    }

    &__btn-getfree {
        padding: 15px 21px;

        &:hover{
            box-shadow: 0 0 8px 3px #7a7a7a ;
            transition: 0.3s;
        }
        @media (max-width: 575px){
            margin-bottom: 20px;
        }
        
    }

    &__btn-tour {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;

        padding: 15px 21px;

        background: #013A4C;
        border: 1px solid #013A4C;
        box-sizing: border-box;
        border-radius: 4px;

        &:hover{
            box-shadow: 0 0 8px 3px #7a7a7a ;
            transition: 0.3s;
        }
    }
}