.promo {

    background: url(../../img/jpg/background-man.jpg) no-repeat top center;
    background-size: cover;

    padding:295px 0 317px 0 ;
    @media (max-width: 575px){
        padding: 120px 0;
    }

    @media (max-width: 767px){
        text-align: center;
    }

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 73px;
        line-height: 78px;
        letter-spacing: 2px;
        color: #F2DCE4;

        margin-bottom: 31px;
        @media (max-width: 575px){
            font-size: 56px;
        }
    }

    &__subtitle {
        font-family: Work Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.5px;
        color: #FFFFFF;

        margin-bottom: 25px;

        max-width: 470px;
        @media (max-width: 767px){
            margin: 0 auto 25px auto;
        }
        @media (max-width: 575px){
            font-size: 22px;
        }
    }

    &__btn {
        padding: 11px 17px;
    }
}