.review {

    background: #FCFCFC;

    &__wrap {
        padding:120px 0;
    }

    &__cards {
        display: flex;
        @media (max-width: 991px){
            flex-wrap: nowrap;
            overflow-x:auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    &__card {
        padding: 30px;
        background: #FCFCFC;
        border: 1px solid #E0E2EC;

        max-width: 407px;
        @media (max-width: 991px){
            min-width: 330px;
        }
    }

    &__card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 15px;
    }

    &__card-name {
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        color: #2F3250;

        padding:11px 0 11px 52px;

        position: relative;

        &::before{
            content:"";
            position: absolute;
            top:0;
            left:0;
            background: transparent url(../../img/png/avatar1.png) no-repeat left center;
            width: 100%;
            height: 100%;
        }
    }

    &__card-name--two{
        &::before{
            background: transparent url(../../img/png/avatar2.png) no-repeat left center;
        }
    }

    &__card-name--three{
        &::before{
            background: transparent url(../../img/png/avatar3.png) no-repeat left center;
        }
    }

    &__card-date {
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: #404254;
        opacity: 0.3;
    }
}