.shop {

    &__wrap {
        padding: 120px 0 0 0 ;
        margin-bottom: 100px;
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1199px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            margin-right: 0;
            row-gap: 40px;
        }
        @media (max-width: 767px){
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            margin-bottom: 20px;
            -webkit-overflow-scrolling: touch;
        }
    }

    &__card {
        max-width: 275px;
        @media (max-width: 1199px){
            margin-right: 0;
        }

        @media (max-width: 767px){
            margin-right: 40px;
        }
    }

    &__card-pic-wrap {
        margin-bottom: 20px;
    }

    &__card-text{
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__card-title {
        font-size: 18px;
        line-height: 100%;
    }

    &__card-price {
        font-size: 18px;
        line-height: 100%;
        padding-right: 3px;
    }

    &__card-buttons{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__card-btn-more {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: #2F3250;

        padding: 13px 26px;

        border: 2px solid #4D66EC;
        background-color: white;

        &:hover{
            color:white;
            background-color:#4D66EC ;
            transition-duration: 0.3s;
        }
    }

    &__card-btn-bag {
        padding: 13px 31px;
    }
}