@import "nullstyle.scss";

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
    line-height: 78px;
    letter-spacing: 1px;
    color: #013A4C;

    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #013A4C;

    position: relative;
    margin-top: 80px;
}

@import "section.scss";



// HEADER---------->

@import "header.scss";



// INTRO---------->

@import "intro.scss";



// INFO---------->

@import "info.scss";



// TOUR---------->

@import "tour.scss";



// CARD--------->

@import "card.scss";



// VIDEO---------->

@import "video.scss";



// BENEFITS---------->

@import "benefits.scss";



// PROMO---------->

@import "promo.scss";



// REVIEW---------->

@import "review.scss";



// CELL---------->

@import "cell.scss";



// TOOLS---------->

@import "tools.scss";



// GUIDE---------->

@import "guide.scss";



// MORE---------->

@import "more.scss";



// FOOTER---------->

@import "footer.scss";



// MEDIA---------->

@import "media.scss";

