@import "nullstyle.scss";

@import "section.scss";

body{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #404254;

    background: #FCFCFC;
}

// HEADER---------->

@import"header.scss";


// SHOP---------->

@import"shop.scss";

// BLOG---------->

@import"blog.scss";


// REVIEW---------->

@import"review.scss";


// FOOTER---------->

@import"footer.scss";





@import "adaptive.scss";