.blog {
  background: #F5F8FC;
}
.blog__wrap {
  padding: 120px 0;
}
.blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .blog__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.blog__card {
  max-width: 380px;
}
@media (max-width: 1199px) {
  .blog__card {
    margin-bottom: 80px;
  }
  .blog__card:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  .blog__card {
    max-width: 100%;
    text-align: center;
  }
}
.blog__card-pic-wrap {
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .blog__card-pic {
    width: 100%;
    height: auto;
  }
}
.blog__card-title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #2F3250;
  margin-bottom: 15px;
}
.blog__card-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #404254;
  margin-bottom: 25px;
}
.blog__card-btn {
  padding: 13px 20px;
}