.footer {
  border-top: 1px solid #E0E2EC;
  padding-bottom: 60px;
  position: relative;
}
.footer__wrap {
  padding: 45px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
@media (max-width: 1199px) {
  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  .footer__wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer__contacts {
  margin: 0 auto 0 0;
}
@media (max-width: 767px) {
  .footer__contacts {
    margin-right: 20px;
  }
}
@media (max-width: 575px) {
  .footer__contacts {
    margin: 0;
  }
}
.footer__logo {
  margin-bottom: 31px;
}
.footer__contact {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #404254;
  padding-left: 20px;
  margin-bottom: 19px;
  position: relative;
}
.footer__contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(../../img/svg/phone.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.footer__contact:nth-child(3)::before {
  background: transparent url(../../img/svg/mail.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.footer__contact:nth-child(4) {
  margin-bottom: 0;
}
.footer__contact:nth-child(4)::before {
  background: transparent url(../../img/svg/location.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 575px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-list {
  margin-right: 105px;
}
@media (max-width: 991px) {
  .footer__nav-list:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .footer__nav-list {
    margin-right: 30px;
  }
}
.footer__item {
  margin-bottom: 11px;
}
.footer__item:first-child {
  margin-bottom: 18px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}
.footer__list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #2F3250;
}
.footer__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 0;
  color: #404254;
}
.footer__mailing {
  max-width: 380px;
}
@media (max-width: 1199px) {
  .footer__mailing {
    margin: 0 auto;
    padding-top: 70px;
  }
}
.footer__form-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #404254;
  margin-bottom: 21px;
}
.footer__form {
  position: relative;
  margin-bottom: 54px;
}
.footer__form-input {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #2F3250;
  border: 1px solid #E0E2EC;
  padding: 18px 40px 18px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer__form-btn {
  position: absolute;
  font-size: 16px;
  background-color: white;
  top: 17px;
  right: 17px;
  color: #4D66EC;
}
.footer__form-btn:hover {
  text-shadow: 8px 1px 3px #5066e28f;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.footer__form-btn:active {
  color: black;
}
.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575px) {
  .footer__payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #404254;
}
@media (max-width: 575px) {
  .footer__text {
    margin-bottom: 20px;
  }
}
.footer__icon {
  margin-right: 15px;
}
.footer__icon:last-child {
  margin-right: 0;
}
.footer__copy-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left-line {
  background: #E0E2EC;
  margin: 20px 60px 0 0;
  width: 500px;
  height: 1px;
}
@media (max-width: 991px) {
  .footer__left-line {
    margin-right: 20px;
  }
}
.footer__right-line {
  background: #E0E2EC;
  margin: 20px 0 0 60px;
  width: 500px;
  height: 1px;
}
@media (max-width: 991px) {
  .footer__right-line {
    margin-left: 20px;
  }
}
.footer__copy-icons {
  white-space: nowrap;
}
.footer__copy-icon {
  display: inline-block;
  margin-right: 15px;
}
.footer__copy-icon:last-child {
  margin-right: 0;
}
.footer__copy-icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.footer__copy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .footer__copy-text {
    padding-top: 20px;
  }
}
.footer__copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #2F3250;
  opacity: 0.3;
}
@media (max-width: 575px) {
  .footer__copyright {
    font-size: 8px;
    line-height: 100%;
  }
}
.footer__copyright:hover {
  border-bottom: 1px solid rgba(47, 50, 80, 0.3);
}
.footer__confidence {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #2F3250;
  opacity: 0.3;
}
@media (max-width: 575px) {
  .footer__confidence {
    font-size: 8px;
    line-height: 100%;
  }
}
.footer__confidence:hover {
  border-bottom: 1px solid rgba(47, 50, 80, 0.3);
}