@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.basic-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #FCFCFC;
  padding: 20px 34px;
  background: #4D66EC;
  border: 2px solid #4D66EC;
}
.basic-btn:hover {
  color: #4D66EC;
  background: #FCFCFC;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.mobile {
  display: none;
}

.section-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.section-title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 100%;
  color: #2F3250;
  padding-right: 20px;
}
@media (max-width: 575px) {
  .section-title {
    font-size: 24px;
  }
}

.section-more {
  color: #2F3250;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}
.section-more::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: black;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.section-more:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #4A5FCF;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.link::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: black;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  background-color: #4A5FCF;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.link:active {
  color: #4A5FCF;
}

.hide {
  display: none;
}

body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #404254;
  background: #FCFCFC;
}

.header {
  background: url(../../img/jpg/banner.jpg) no-repeat top center;
  background-size: cover;
}
.header__wrap {
  padding-top: 30px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 173px;
}
@media (max-width: 1199px) {
  .header__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.header__logo {
  margin-right: 65px;
}
.header__nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1199px) {
  .header__nav-menu {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px auto 0 auto;
  }
}
@media (max-width: 575px) {
  .header__nav-menu {
    display: none;
  }
}
.header__item {
  margin-right: 30px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #2F3250;
}
.header__item-link--active {
  color: #4A5FCF;
  border-bottom: 1px solid #4D66EC;
}
.header__item-link--sale {
  color: #FB0F39;
  text-transform: uppercase;
}
.header__buttons {
  margin: 0 0 0 auto;
  white-space: nowrap;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
@media (max-width: 575px) {
  .header__buttons {
    display: none;
  }
}
.header__btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #2F3250;
  background-color: transparent;
  position: relative;
  padding-left: 28px;
  margin-right: 25px;
}
@media (max-width: 575px) {
  .header__btn {
    margin-bottom: 20px;
    font-size: 16px;
    color: #2F3250;
  }
}
.header__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: transparent url(../../img/svg/user.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.header__btn:nth-child(2)::before {
  background: transparent url(../../img/svg/heart.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.header__btn:nth-child(3) {
  margin-right: 0;
}
.header__btn:nth-child(3)::before {
  background: transparent url(../../img/svg/shopping-cart.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.header__btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.header__btn:active {
  color: #4A5FCF;
}
.header__intro {
  max-width: 550px;
  padding-bottom: 243px;
}
.header__title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: 76px;
  line-height: 100%;
  color: #4A5FCF;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .header__title {
    font-size: 42px;
  }
}
.header__subtitle {
  font-size: 22px;
  line-height: 140%;
  color: #2F3250;
  margin-bottom: 55px;
}
.header__intro-btn {
  font-size: 16px;
  padding: 20px 34px;
}

.shop__wrap {
  padding: 120px 0 0 0;
  margin-bottom: 100px;
}
.shop__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .shop__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-right: 0;
    row-gap: 40px;
  }
}
@media (max-width: 767px) {
  .shop__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 20px;
    -webkit-overflow-scrolling: touch;
  }
}
.shop__card {
  max-width: 275px;
}
@media (max-width: 1199px) {
  .shop__card {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .shop__card {
    margin-right: 40px;
  }
}
.shop__card-pic-wrap {
  margin-bottom: 20px;
}
.shop__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.shop__card-title {
  font-size: 18px;
  line-height: 100%;
}
.shop__card-price {
  font-size: 18px;
  line-height: 100%;
  padding-right: 3px;
}
.shop__card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.shop__card-btn-more {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #2F3250;
  padding: 13px 26px;
  border: 2px solid #4D66EC;
  background-color: white;
}
.shop__card-btn-more:hover {
  color: white;
  background-color: #4D66EC;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.shop__card-btn-bag {
  padding: 13px 31px;
}

.blog {
  background: #F5F8FC;
}
.blog__wrap {
  padding: 120px 0;
}
.blog__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .blog__cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.blog__card {
  max-width: 380px;
}
@media (max-width: 1199px) {
  .blog__card {
    margin-bottom: 80px;
  }
  .blog__card:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  .blog__card {
    max-width: 100%;
    text-align: center;
  }
}
.blog__card-pic-wrap {
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  .blog__card-pic {
    width: 100%;
    height: auto;
  }
}
.blog__card-title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #2F3250;
  margin-bottom: 15px;
}
.blog__card-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #404254;
  margin-bottom: 25px;
}
.blog__card-btn {
  padding: 13px 20px;
}

.review {
  background: #FCFCFC;
}
.review__wrap {
  padding: 120px 0;
}
.review__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .review__cards {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
.review__card {
  padding: 30px;
  background: #FCFCFC;
  border: 1px solid #E0E2EC;
  max-width: 407px;
}
@media (max-width: 991px) {
  .review__card {
    min-width: 330px;
  }
}
.review__card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}
.review__card-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #2F3250;
  padding: 11px 0 11px 52px;
  position: relative;
}
.review__card-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(../../img/png/avatar1.png) no-repeat left center;
  width: 100%;
  height: 100%;
}
.review__card-name--two::before {
  background: transparent url(../../img/png/avatar2.png) no-repeat left center;
}
.review__card-name--three::before {
  background: transparent url(../../img/png/avatar3.png) no-repeat left center;
}
.review__card-date {
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #404254;
  opacity: 0.3;
}

.footer {
  border-top: 1px solid #E0E2EC;
  padding-bottom: 60px;
  position: relative;
}
.footer__wrap {
  padding: 45px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
@media (max-width: 1199px) {
  .footer__wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  .footer__wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer__contacts {
  margin: 0 auto 0 0;
}
@media (max-width: 767px) {
  .footer__contacts {
    margin-right: 20px;
  }
}
@media (max-width: 575px) {
  .footer__contacts {
    margin: 0;
  }
}
.footer__logo {
  margin-bottom: 31px;
}
.footer__contact {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #404254;
  padding-left: 20px;
  margin-bottom: 19px;
  position: relative;
}
.footer__contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: transparent url(../../img/svg/phone.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.footer__contact:nth-child(3)::before {
  background: transparent url(../../img/svg/mail.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.footer__contact:nth-child(4) {
  margin-bottom: 0;
}
.footer__contact:nth-child(4)::before {
  background: transparent url(../../img/svg/location.svg) no-repeat left center;
  width: 100%;
  height: 100%;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 575px) {
  .footer__nav {
    display: none;
  }
}
.footer__nav-list {
  margin-right: 105px;
}
@media (max-width: 991px) {
  .footer__nav-list:last-child {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .footer__nav-list {
    margin-right: 30px;
  }
}
.footer__item {
  margin-bottom: 11px;
}
.footer__item:first-child {
  margin-bottom: 18px;
}
.footer__item:last-child {
  margin-bottom: 0px;
}
.footer__list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #2F3250;
}
.footer__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 0;
  color: #404254;
}
.footer__mailing {
  max-width: 380px;
}
@media (max-width: 1199px) {
  .footer__mailing {
    margin: 0 auto;
    padding-top: 70px;
  }
}
.footer__form-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #404254;
  margin-bottom: 21px;
}
.footer__form {
  position: relative;
  margin-bottom: 54px;
}
.footer__form-input {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #2F3250;
  border: 1px solid #E0E2EC;
  padding: 18px 40px 18px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer__form-btn {
  position: absolute;
  font-size: 16px;
  background-color: white;
  top: 17px;
  right: 17px;
  color: #4D66EC;
}
.footer__form-btn:hover {
  text-shadow: 8px 1px 3px #5066e28f;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.footer__form-btn:active {
  color: black;
}
.footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575px) {
  .footer__payment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  color: #404254;
}
@media (max-width: 575px) {
  .footer__text {
    margin-bottom: 20px;
  }
}
.footer__icon {
  margin-right: 15px;
}
.footer__icon:last-child {
  margin-right: 0;
}
.footer__copy-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__left-line {
  background: #E0E2EC;
  margin: 20px 60px 0 0;
  width: 500px;
  height: 1px;
}
@media (max-width: 991px) {
  .footer__left-line {
    margin-right: 20px;
  }
}
.footer__right-line {
  background: #E0E2EC;
  margin: 20px 0 0 60px;
  width: 500px;
  height: 1px;
}
@media (max-width: 991px) {
  .footer__right-line {
    margin-left: 20px;
  }
}
.footer__copy-icons {
  white-space: nowrap;
}
.footer__copy-icon {
  display: inline-block;
  margin-right: 15px;
}
.footer__copy-icon:last-child {
  margin-right: 0;
}
.footer__copy-icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.footer__copy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .footer__copy-text {
    padding-top: 20px;
  }
}
.footer__copyright {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #2F3250;
  opacity: 0.3;
}
@media (max-width: 575px) {
  .footer__copyright {
    font-size: 8px;
    line-height: 100%;
  }
}
.footer__copyright:hover {
  border-bottom: 1px solid rgba(47, 50, 80, 0.3);
}
.footer__confidence {
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  color: #2F3250;
  opacity: 0.3;
}
@media (max-width: 575px) {
  .footer__confidence {
    font-size: 8px;
    line-height: 100%;
  }
}
.footer__confidence:hover {
  border-bottom: 1px solid rgba(47, 50, 80, 0.3);
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 100%;
  }

  .mobile {
    display: block;
  }

  .mobile div {
    display: block;
    position: fixed;
    top: 30px;
    right: 15px;
    width: 50px;
    height: 50px;
    z-index: 99;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    cursor: pointer;
    border-radius: 20%;
  }

  .mobile div span {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 4px;
    width: 30px;
    background-color: #4D66EC;
    border-radius: 13px;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
  }

  .mobile div span:nth-child(1) {
    top: 14px;
  }

  .mobile div span:nth-child(2) {
    top: 23px;
  }

  .mobile div span:nth-child(3) {
    bottom: 14px;
  }

  .mobile div.active span:nth-child(1) {
    -webkit-transform: translate(-15px, 9px) rotate(-45deg);
            transform: translate(-15px, 9px) rotate(-45deg);
  }

  .mobile div.active span:nth-child(2) {
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    opacity: 0;
  }

  .mobile div.active span:nth-child(3) {
    -webkit-transform: translate(-15px, -9px) rotate(45deg);
            transform: translate(-15px, -9px) rotate(45deg);
  }

  .mobile nav {
    display: block;
    position: fixed;
    top: 45px;
    right: 40px;
    height: 50px;
    width: 50px;
    border-radius: 10%;
    z-index: 90;
    -webkit-transition-duration: 0.6s;
            transition-duration: 0.6s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: hidden;
  }

  .mobile nav.open {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #61baff 0%, #a6effd 90.1%);
    width: 100vw;
    height: 100vh;
    right: 0px;
    top: 0px;
    border-radius: 0;
  }

  .mobile nav ul {
    display: none;
  }

  .mobile nav ul.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .mobile nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 30px;
    background-color: transparent;
    width: 100%;
    opacity: 0;
    -webkit-animation-name: fadein;
            animation-name: fadein;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

  .mobile ul li:not(:last-child) {
    margin-bottom: 22px;
  }

  .mobile ul li a {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.1em;
    color: #2F3250;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 0;
  }
  .mobile ul li a:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  @-webkit-keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .hide {
    height: 100%;
    display: block;
  }
  .hide__list {
    padding: 15px;
  }
  .hide__title {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #2F3250;
  }
  .hide__title::before, .hide__title::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 10px;
    height: 2px;
    background-color: #4D66EC;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .hide__title::before {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    left: 0;
  }
  .hide__title::after {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    left: 7px;
  }
  .hide__title.active::before, .hide__title.active::after {
    background-color: #2F3250;
  }
  .hide__title.active::before {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  .hide__title.active::after {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  .hide__text {
    display: inline-block;
    padding-top: 20px;
    display: none;
    position: relative;
  }
  .hide__item {
    padding: 15px 0;
  }
  .hide__link {
    display: block;
    position: absolute;
    left: 5px;
    white-space: nowrap;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    color: #404254;
  }
}